html {
	background-color: #232323;
}
html, body {
	padding: 0; margin: 0; border: 0;
}
body {
	font-family: "proxima-nova",'Open Sans', sans-serif;
}

.main-container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.about-container {
	padding-top: 20px;
	clear: both;
}
.about-container p {
	font-weight: lighter;
	color: white;
}

.img-container {
	width: 980px;
	height: 654px;
	margin-top: 60px;
	margin-bottom: 8px;
	background-image: url("/img/me.jpg");
	background-position: center;
	background-size: contain;
	outline: 3px solid white;
}

.social-container {
	float: right; 
}

.logo-container {
	float: left;
}

.logo-container img {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 70px;
}

.jpcs-social.large {
	width: 78px;
	margin-left: 2px;
	margin-right: -2px;
	text-decoration: 0;
}

.jpcs-social:hover {
	background-color: #EEE;
}

.jpcs-social.email {
	background-color: rgb(144, 215, 245); 
}
